@use "../utils";


.card {
    border-radius: 1.25rem;
    @include utils.transition-out(transform, filter);

    &:is(:hover, :focus) {
        transform: scale(1.01);
        @include utils.transition-in(transform);
        &:has(.card-image) {
            filter: brightness(1.02) saturate(1.05);
            @include utils.transition-in(filter);
        }
    }
}

.instructions-cards {
    & .card {
        width: min(20rem, 90vw);
        height: 4rem;
        display: flex;
        align-items: center;
        background-color: utils.$section-bg-clr;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
        @include utils.transition-out(filter, color);
        
        &:hover {
            filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
            @include utils.transition-in(filter);
            & .fa-solid {
                color: utils.$btn-bg-clr;
                @include utils.transition-in(color);
            }
        }
    }
    
    & .card-content {
        display: flex;
        gap: 1rem;
        padding-left: 2rem;
    }
}

.restaurants-cards {
    & .card {
        gap: 1rem;
        background-color: utils.$card-bg-clr;
        overflow: hidden;
        position: relative;

        & > :not(.card-image, .container-tag) {
            margin-inline: utils.$card-padding;
        }
    
        & > :last-child:not(.card-image, .container-tag) {
            margin-block-end: utils.$card-padding;
        }
    }   

    & .card-image {
        width: 100%;
        height: 10rem;
        object-fit: cover;
    }

    & .container-tag {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
    }

    & .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}