/* Error: Can't find stylesheet to import.
 *   ,
 * 4 | @forward "breakpoints";
 *   | ^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   css/partials/utils/_index.scss 4:1      @use
 *   css/partials/base/_typography.scss 1:1  @forward
 *   css/partials/base/_index.scss 2:1       @forward
 *   css/partials/_index.scss 1:1            @forward
 *   css/style.scss 1:1                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 4 \2502  @forward \"breakpoints\";\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   css/partials/utils/_index.scss 4:1      @use\a   css/partials/base/_typography.scss 1:1  @forward\a   css/partials/base/_index.scss 2:1       @forward\a   css/partials/_index.scss 1:1            @forward\a   css/style.scss 1:1                      root stylesheet";
}
