*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --btn-bg-clr: #9356DC;
  --btn-bg-clr-light: #e371da;
}

@keyframes page-fade-in {
  0%, 80% {
    opacity: 0;
  }
  85% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-fade-out {
  0%, 80% {
    opacity: 1;
  }
  85% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes clip-in {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 -10% 0 0);
  }
}
@keyframes slide-up {
  from {
    transform: translateY(80dvh);
  }
  to {
    transform: translateY(10dvh);
  }
}
@keyframes shine {
  0% {
    background-position: 100%;
  }
  60% {
    background-position: -40rem;
  }
  100% {
    background-position: 0;
  }
}
@keyframes slide-card {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateY(0);
  }
}
/*

    The website was integrated on mobile first

    the map must be kept in order of screen sizes
    the key: "mobile" is just here as a placeholder
    it represents the base model from which everything respond to

    the mixin "respond-to" check if the value the media query is using is above or below "mobile" in the list
    if it's below it then associate a max-width, if it's above, a min-width

    if the media query should respond to a single screen size, 
    the mixin "respond-only-to" associate a min-width and look for the next value in the list to set a max-width
    if it was the first or last value of the map or if the next value is the default one, return to the previous mixin

*/
* {
  font-family: "Roboto", sans-serif;
  color: #000000;
  line-height: 1.5;
}

p {
  max-width: 60ch;
}

.loader-logo {
  font-family: "Shrikhand", "Roboto", sans-serif;
  font-size: clamp(3rem, 2.7143rem + 1.4286vw, 4rem);
}

.loader-subtitle {
  font-size: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
  font-weight: 400;
}

.header {
  font-size: 1.5rem;
}

.main-title {
  font-size: clamp(1.5rem, 1.2143rem + 1.4286vw, 2.5rem);
}

.main-subtitle {
  font-size: 1.125rem;
  font-weight: 300;
}

.restaurant-title {
  font-family: "Shrikhand", "Roboto", sans-serif;
  font-size: clamp(1.625rem, 1.5536rem + 0.3571vw, 1.875rem);
}

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.section-subtitle {
  font-size: 1rem;
}

.menu-title {
  font-size: 1rem;
  font-weight: 300;
}

.restaurant-card-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.menu-card-title {
  font-size: 1.125rem;
  font-weight: 500;
}

.restaurant-card-subtitle {
  font-size: 1.0625rem;
  font-weight: 300;
}

.menu-card-subtitle {
  font-size: 0.9375rem;
  font-weight: 300;
}

.card-description {
  font-size: 0.9375rem;
}

.price {
  font-weight: 700;
}

.btn-title {
  font-size: 1rem;
  color: white;
}

.tag-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #008766;
}

.fa-solid, .fa-regular {
  font-family: "Font Awesome 6 Free";
}
.fa-idle {
  color: #848484;
}

.footer-link {
  font-size: 1rem;
  color: white;
}

@property --color-gradient-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: #a16be0;
}
@property --color-gradient-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: #e786e0;
}
.btn {
  padding: 1rem 2rem;
  margin-block: 1rem;
  border-radius: 2rem;
  border-style: none;
  background: linear-gradient(to top, var(--color-gradient-1), var(--color-gradient-2));
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
  --color-gradient-1: var(--btn-bg-clr);
  --color-gradient-2: var(--btn-bg-clr-light);
  transition: filter 500ms ease-in, transform 500ms ease-in, --color-gradient-1 500ms ease-in, --color-gradient-2 500ms ease-in;
}
.btn:hover {
  --color-gradient-1: initial;
  --color-gradient-2: initial;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
  transform: scale(1.01);
  transition: filter 250ms ease-in, transform 250ms ease-in, --color-gradient-1 250ms ease-in, --color-gradient-2 250ms ease-in;
}
.menu .btn {
  width: clamp(10rem, 80vw, 12rem);
}

.icon-like {
  position: relative;
  font-size: 1.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-like .fa-heart {
  padding: 0.1rem;
  position: absolute;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
}
.icon-like-outline {
  transition: color 500ms ease-out;
}
.icon-like-outline:hover {
  color: transparent;
  transform: scale(1.2);
  transition: color 250ms ease-out, transform 250ms ease-in-out;
}
.icon-like-bg {
  transform: scale(0);
  opacity: 0.8;
  background: linear-gradient(to bottom, #9356DC, #e371da);
  background-clip: text;
  color: transparent;
  transition: opacity 500ms ease-out;
}
.icon-like:hover .icon-like-bg {
  transform: scale(1.1);
  opacity: 1;
  transition: transform 250ms ease-in-out, opacity 250ms ease-out;
}

.menu-cards .card, .restaurants-cards .card {
  overflow: hidden;
}
.menu-cards .card *:not(.card-icon), .restaurants-cards .card *:not(.card-icon) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-cards .card, .instructions-cards .card {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
  transition: filter 500ms ease-in;
}
.menu-cards .card:is(:hover, :focus, :focus-within), .instructions-cards .card:is(:hover, :focus, :focus-within) {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
  transition: filter 250ms ease-in;
}

.restaurants-cards .card {
  transition: transform 500ms ease-in;
}
.restaurants-cards .card:is(:hover, :focus, :focus-within) {
  transform: scale(1.01);
  transition: transform 250ms ease-in;
}

.card {
  border-radius: 1.25rem;
  background-color: #FFFFFF;
  transition: filter 500ms ease-in;
}
.card > :not(.card-image, .container-tag) {
  margin-inline: 1rem;
}
.card > :first-child:not(.card-image, .container-tag) {
  margin-block-start: 1rem;
}
.card > :last-child:not(.card-image, .container-tag) {
  margin-block-end: 1rem;
}
.card:is(:hover, :focus, :focus-within):has(.card-image) {
  filter: brightness(1.05) saturate(1.05);
  transition: filter 250ms ease-in;
}

.instructions-cards .card {
  width: min(20rem, 90vw - 2rem);
  height: 4rem;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #F6F6F6;
}
.instructions-cards .card::before {
  counter-increment: instruction;
  content: counter(instruction);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -1rem;
  background-color: #9356DC;
  border-radius: 50%;
  color: #FFFFFF;
}
.instructions-cards .card:hover .fa-idle {
  color: #9356DC;
  transition: color 250ms ease-in;
}
.instructions-cards .card-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
}

.restaurants-cards .card {
  position: relative;
  gap: 1rem;
}
.restaurants-cards .card .card-image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.restaurants-cards .card .container-tag {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}
.restaurants-cards .card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-cards .card {
  display: grid;
  grid-template-columns: 1fr 4rem 0;
  grid-template-rows: repeat(2, 1fr);
  transition: grid-template-columns 500ms ease-out;
}
.menu-cards .card .menu-card-title {
  grid-column: span 2;
}
.menu-cards .card .menu-card-subtitle {
  grid-column: 1;
}
.menu-cards .card:hover {
  grid-template-columns: 1fr 4rem 5rem;
  transition: grid-template-columns 250ms ease-out;
}
.menu-cards .card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  grid-column: 3;
  background-color: #99E2D0;
}
.menu-cards .card::after {
  content: "\f00c";
  font-family: fontawesome;
  width: 2rem;
  height: 2rem;
  position: fixed;
  grid-column: 3;
  justify-self: center;
  align-self: center;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #99E2D0;
  transform: translateX(2rem);
  transition: transform 500ms ease-out;
}
.menu-cards .card:hover::after {
  transform: translate(0);
  transition: transform 250ms ease-out;
}

.menu-cards .card:nth-child(1) {
  animation: slide-card 500ms ease-out;
}
.menu-cards .card:nth-child(2) {
  animation: slide-card 1000ms ease-out;
}
.menu-cards .card:nth-child(3) {
  animation: slide-card 1500ms ease-out;
}
.menu-cards .card:nth-child(4) {
  animation: slide-card 2000ms ease-out;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .instructions-cards .card {
    width: 30rem;
  }
  .instructions-cards .card::before {
    left: 4rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
    transition: filter 500ms ease-in;
  }
  .instructions-cards .card:hover::before {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    transition: filter 250ms ease-in;
  }
  .instructions-cards .card-content {
    padding-left: 9rem;
  }
}
.tag {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #FFFFFF;
}
.header-logo {
  width: 197px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 250ms ease-in, transform 250ms ease-in;
}
.header-logo:hover {
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.1));
  transform: scale(1.02);
}
.header-logo-wrapper {
  transition: transform 750ms 250ms ease-in-out;
}
.header-logo-wrapper:hover {
  transform: scaleX(1.1);
}

section {
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  section {
    padding-inline: 5vw;
  }
}
@media (min-width: 1024px) {
  section {
    padding-inline: 10vw;
  }
}
@media (min-width: 1440px) {
  section {
    padding-inline: calc(10vw + (100vw - 1440px) / 2);
  }
}
.footer {
  padding: 1rem;
  background-color: #353535;
}
.footer-logo {
  width: 138px;
  height: 27px;
  filter: invert(100%);
}
.footer-links {
  width: fit-content;
}
.footer-link {
  padding-block: 0.2rem;
  margin: 0.5rem;
  display: block;
  position: relative;
  overflow: hidden;
}
.footer-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: white;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.footer-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}
.footer-link::before {
  font-family: FontAwesome;
  font-size: 0.8125rem;
}
.footer .link-suggest::before {
  content: "\f2e7";
  padding-right: 11px;
}
.footer .link-partner::before {
  content: "\f4c6";
  display: inline-block;
  transform: rotate(-45deg);
  padding-right: 6px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 2rem;
  }
  .footer-links {
    display: flex;
    gap: 1rem;
  }
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
  }
  .footer-navbar {
    order: -1;
  }
  a:has(.footer-logo) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding-inline: calc(2rem + (100vw - 1440px) / 2);
  }
}
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  z-index: -1;
  background-color: #F6F6F6;
  animation: loader-fade-out 3.5s;
}
.loader-logo {
  padding: 10rem;
  background: linear-gradient(to left, #000000 0, #9356DC 5%, #e371da 10%, #000000 15%);
  background-clip: text;
  color: transparent;
  animation: clip-in 1s, shine 3s 1s linear;
}
.loader-description {
  text-align: center;
  margin-inline: 2rem;
  text-wrap: balance;
  animation: slide-up 2s ease-out forwards;
}

.main-container {
  background-color: #FFFFFF;
}

.main-loader {
  animation: page-fade-in 3.5s;
}

.location {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #EAEAEA;
  box-shadow: inset 0 8px 10px -8px rgba(0, 0, 0, 0.3);
}
.location::before {
  content: "\f3c5";
  font-family: FontAwesome;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-wrap: pretty;
  padding-inline: 2rem;
  gap: 1rem;
  background-color: #F6F6F6;
  box-shadow: inset 0 12px 15px -12px rgba(0, 0, 0, 0.6);
}

.instructions-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  counter-reset: instruction;
}

.restaurants {
  background-color: #F6F6F6;
}

.restaurants-cards {
  display: grid;
  grid-template-rows: 10rem auto;
  gap: 1rem;
}
.restaurants-cards .card-link {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
}
.restaurants-cards .card {
  display: grid;
  grid-row: span 2;
}

@media (min-width: 768px) {
  .location,
  .explore {
    box-shadow: none;
  }
  .restaurants-cards {
    grid-template-columns: repeat(2, minmax(auto, 31rem));
    justify-content: space-between;
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  .instructions-cards {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
}
.header {
  position: relative;
}
.header-icon-wrapper {
  position: absolute;
  left: 2rem;
  top: 1rem;
}
.header-icon {
  transition: transform 500ms ease-in;
}
.header-icon:hover {
  transform: scaleX(1.2) translateX(-0.3rem);
  transition: transform 250ms ease-in;
}

.hero-img {
  width: 100%;
  height: 17.2rem;
  object-fit: cover;
}

.menu {
  max-width: 1440px;
  position: relative;
  margin: auto;
  margin-top: -4rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: #F6F6F6;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-title {
  width: fit-content;
  padding-block: 1rem;
  display: block;
  position: relative;
}
.menu-title::after {
  content: "";
  position: absolute;
  bottom: 0.75rem;
  left: 0;
  width: 2.5rem;
  height: 0.2rem;
  background-color: #99E2D0;
}
.menu .menu-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu .btn {
  align-self: center;
}

@media (min-width: 768px) {
  .hero-img {
    height: 21rem;
  }
  .menu-header {
    justify-content: center;
    gap: 4rem;
  }
}
@media (min-width: 1024px) {
  .hero-img {
    height: 24rem;
  }
}

/*# sourceMappingURL=style.css.map */
