@use "../utils";



* {
    font-family: "Roboto", sans-serif;
    color: utils.$txt-clr;
    line-height: 1.5;
}

p {
    max-width: 60ch;
}

.loader-logo {
    font-family: "Shrikhand", "Roboto", sans-serif;
    font-size: 4rem;
}

.loader-description {
    // https://utopia.fyi/type/calculator/?c=320,16,1.2,1440,32,1.25
    font-size: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
    font-weight: 400;
}

.main-title {
    // https://utopia.fyi/type/calculator?c=320,24,1.2,1440,40,1.25
    font-size: clamp(1.5rem, 1.2143rem + 1.4286vw, 2.5rem);
}

.main-description {
    font-size: 1.125rem;
    font-weight: 300;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.section-subtitle {
    font-size: 1rem;
}

.card-title {
    font-size: 1.125rem;
    font-weight: 700;
}

.card-subtitle {
    font-size: 1.0625rem;
    font-weight: 300;
}

.card-description {
    font-size: 0.9375rem;
}

.btn-title {
    font-size: 1rem;
    color: invert(utils.$txt-clr);
}

.tag-title {
    font-size: 0.875rem;
    font-weight: 500;
    color: utils.$highlight-clr-dark;
}

.fa {
    &-solid,
    &-regular {
        font-family: "Font Awesome 6 Free";
    }
    &-idle {
        color: utils.$icon-clr-idle;
    }
}

.footer-link {
    font-size: 1rem;
    color: invert(utils.$txt-clr);
}