@keyframes fade-in-delayed {
    0%, 80% {
        opacity: 0;
    }
    85% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out-delayed {
    0%, 80% {
        opacity: 1;
    }
    85% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes clip-in {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 -10% 0 0);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(80dvh);
    }
    to {
        transform: translateY(10dvh);
    }
}

@keyframes shine {
    0% {
        background-position: 100%;
    }
    60% {
        background-position: -40rem;
    }
    100% {
        background-position: 0;
    }
}