$main-bg-clr: #FFFFFF;
$section-bg-clr: #F6F6F6;
$section-bg-clr-dark: #EAEAEA;
$footer-bg-clr: #353535;
$btn-bg-clr: #9356DC;
$btn-bg-clr-light: #e371da;
$highlight-clr-light: #99E2D0;
$highlight-clr-dark: #008766;
$indicator-clr-light: #89C8FA;
$indicator-clr-dark: #003A68;
$txt-clr: #000000;
$icon-clr-idle: #848484;