@use "../utils";



.header {
    @include utils.flex-center;
    padding: 1rem;
    background-color: utils.$main-bg-clr;

    &-logo {
        width: 197px;
        height: 36px;
        @include utils.transition-in(filter, transform);

        &:hover {
            filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.1));
            transform: scale(1.02);
        }

        &-wrapper {
            transition: transform calc(1000ms - utils.$tr-time-in) utils.$tr-time-in ease-in-out;

            &:hover {
                transform: scaleX(1.1);
            }
        }
    }
}