@use "../utils";



.header {
    @include utils.flex-center;
    padding: 1rem;
    background-color: utils.$main-bg-clr;

    &-logo {
        width: 197px;
        height: 36px;
        transition: filter 200ms ease-in, transform 200ms ease-in;

        &:hover {
            filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.1));
            transform: scale(1.02);
        }

        &-wrapper {
            transition: transform 800ms 200ms ease-in-out;

            &:hover {
                transform: scaleX(1.1);
            }
        }
    }
}