@use "sass:map";
@use "../utils";



section {
    padding: 2rem 1rem;
}



@include utils.respond-to("tablet") {
    section {
        padding-inline: 5vw;
    }
}

@include utils.respond-to("desktop") {
    section {
        padding-inline: 10vw;
    }
}

@include utils.respond-to("max-screen") {
    section {
        // keeps the desktop padding and add what's above 1440px
        padding-inline: calc(10vw + ((100vw - map.get(utils.$breakpoints, "max-screen"))/2));
    }
}