@use "../utils";



//----- location -----//

.location {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: utils.$section-bg-clr-dark;
    box-shadow: inset 0 8px 10px -8px rgba(0, 0, 0, 0.3);

    &::before {
        content: "\f3c5";
        font-family: FontAwesome;
        @include utils.flex-center;
        padding-right: 1rem;
    }
}

//----- hero -----//

.explore {
    @include utils.flex-center;
    flex-direction: column;
    text-align: center;
    text-wrap: pretty;
    padding-inline: 2rem;
    gap: 1rem;
    background-color: utils.$section-bg-clr;
    box-shadow: inset 0 12px 15px -12px rgba(0, 0, 0, 0.6);
}

//----- restaurants -----//

.restaurants {
    background-color: utils.$section-bg-clr;
}



@include utils.respond-to("tablet") {
    .location, .explore {
        box-shadow: none;
    }
}