@use "../utils";

//----- loader -----//

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    @include utils.flex-center;
    gap: 3rem;
    flex-direction: column;
    z-index: -1;
    background-color: utils.$section-bg-clr;
    animation: loader-fade-out 3.5s;

    &-logo {
        padding: 10rem;
        background: linear-gradient(
            to left,
            utils.$txt-clr 0,
            utils.$btn-bg-clr 5%,
            utils.$btn-bg-clr-light 10%,
            utils.$txt-clr 15%
        );
        background-clip: text;
        color: transparent;
        animation: clip-in 1s, shine 3s 1s linear;
    }

    &-subtitle {
        text-align: center;
        margin-inline: 2rem;
        text-wrap: balance;
        animation: slide-up 2s ease-out forwards;
    }
}

.main-container {
    background-color: utils.$main-bg-clr;
}

.main-loader {
    animation: page-fade-in 3.5s; // the main container start to appear 2975ms after the start of the animation
}

//----- location -----//

.location {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: utils.$section-bg-clr-dark;
    box-shadow: inset 0 8px 10px -8px rgba(0, 0, 0, 0.3);

    &::before {
        content: "\f3c5";
        font-family: FontAwesome;
        @include utils.flex-center;
        padding-right: 1rem;
    }
}

//----- hero -----//

.explore {
    @include utils.flex-center;
    flex-direction: column;
    text-align: center;
    text-wrap: pretty;
    padding-inline: 2rem;
    gap: 1rem;
    background-color: utils.$section-bg-clr;
    box-shadow: inset 0 12px 15px -12px rgba(0, 0, 0, 0.6);
}

//----- instruction -----//

.instructions-cards {
    @include utils.flex-center;
    flex-direction: column;
    gap: 1rem;
    counter-reset: instruction;
}

//----- restaurants -----//

.restaurants {
    background-color: utils.$section-bg-clr;
}

.restaurants-cards {
    display: grid;
    grid-template-rows: 10rem auto;
    gap: 1rem;

    .card {
        display: grid;
        grid-row: span 2;
    }
}

//----- media queries -----//

@include utils.respond-to("tablet") {
    .location,
    .explore {
        box-shadow: none;
    }

    .restaurants-cards {
        grid-template-columns: repeat(2, minmax(auto, 31rem));
        justify-content: space-between;
        gap: 3rem;
    }
}

@include utils.respond-to("desktop") {
    .instructions-cards {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }
}
